<%- include('../components/header.ejs') %>
<div class="container p-3 d-flex flex-column justify-content-center align-items-center gap-3">
    <h1>¡Review Enviada!</h1>
    <a href="/main-page"><button class="btn btn-danger">Volver a la pagina Principal</button></a>
</div>
<%- include('../components/footer.ejs') %>
